  <h2 style="text-align: center;"><mat-icon style="vertical-align: sub; font-size:35px; margin-right: 25px; color: #32cd33;">person_add</mat-icon> Add Client</h2>
  <mat-dialog-content class="mat-typography">
    <form [formGroup]="addClientFG"  (ngSubmit)="addClient()">
    <div fxLayout="row" fxLayoutAlign="center center" fxLayoutGap="1%" style="margin:10px 0px 10px 0px;">
      
        <div fxFlex=25%>
          <mat-form-field appearance="legacy" style="color: red;">
            <mat-label>First Name</mat-label>
            <input matInput placeholder="First Name" formControlName="fname" required>
            <mat-error *ngFor="let validation of form_validation_messages.fname">
              <mat-error class="error-message" *ngIf="addClientFG.get('fname').hasError(validation.type) && (addClientFG.get('fname').dirty || addClientFG.get('fname').touched)">{{validation.message}}</mat-error>
            </mat-error>

          </mat-form-field>
        </div>

        <div fxFlex=25%>
          <mat-form-field appearance="legacy">
            <mat-label>Last Name</mat-label>
            <input matInput placeholder="Last Name" formControlName="lname" required>
            <mat-error *ngFor="let validation of form_validation_messages.lname">
              <mat-error class="error-message" *ngIf="addClientFG.get('lname').hasError(validation.type) && (addClientFG.get('lname').dirty || addClientFG.get('lname').touched)">{{validation.message}}</mat-error>
            </mat-error>
          </mat-form-field>
        </div>

        <div fxFlex=25%>
          <mat-form-field appearance="legacy">
            <mat-label>Surname</mat-label>
            <input matInput placeholder="Surname" formControlName="surname">
          </mat-form-field>
        </div>

        <div fxFlex=24%>
          <mat-form-field appearance="legacy">
            <mat-label>ID / Passport</mat-label>
            <input matInput placeholder="ID / Passport NO." formControlName="idno" required>
            <mat-error *ngFor="let validation of form_validation_messages.idno">
              <mat-error class="error-message" *ngIf="addClientFG.get('idno').hasError(validation.type) && (addClientFG.get('idno').dirty || addClientFG.get('idno').touched)">{{validation.message}}</mat-error>
            </mat-error>
            
          </mat-form-field>
        </div>

    </div>

    <div fxLayout="row" fxLayoutAlign="center center" fxLayoutGap="3%">
      

      <div fxFlex=33%>
        <div>
          <span (click)="addEmail()" style="cursor: pointer; "> <mat-chip (click)="addEmail()"  style="background-color: #039be6; color: white;"><mat-icon style="font-size: 16px;">add</mat-icon> </mat-chip> Email(s) </span>

          <mat-form-field appearance="legacy" style="color: red;">
            <mat-label>Email</mat-label>
            <input matInput placeholder="Primary Email" formControlName="email" required>
            <mat-error *ngFor="let validation of form_validation_messages.email">
              <mat-error class="error-message" *ngIf="addClientFG.get('email').hasError(validation.type) && (addClientFG.get('email').dirty || addClientFG.get('email').touched)">{{validation.message}}</mat-error>
            </mat-error>
          </mat-form-field>

        </div>

        <div formArrayName="addemails" *ngIf="moreEmails">
          <div *ngFor="let addemail of addemails.controls; let i=index">
            
            <mat-form-field appearance="legacy">
              <mat-label>Add Email</mat-label>
              <input matInput placeholder="Email" [formControlName]="i">
              <mat-icon matSuffix *ngIf="addemails.length !==0" (click)="removeEmail()" style="color: #ff0021; cursor: pointer;"> clear</mat-icon>

            </mat-form-field>
          </div>
        </div>
      </div>

      <div fxFlex=33%>
        <div>
          <span (click)="addPhone()" style="cursor: pointer; "> <mat-chip (click)="addPhone()"  style="background-color: #039be6; color: white;"><mat-icon style="font-size: 16px;">add</mat-icon> </mat-chip> Phone Number(s)</span>

          <mat-form-field appearance="legacy">
            <mat-label>Phone Number</mat-label>
            <input matInput placeholder="Primary Phone Number" formControlName="phone" required>
            <mat-error *ngFor="let validation of form_validation_messages.phone">
              <mat-error class="error-message" *ngIf="addClientFG.get('phone').hasError(validation.type) && (addClientFG.get('phone').dirty || addClientFG.get('phone').touched)">{{validation.message}}</mat-error>
            </mat-error>
          </mat-form-field>

        </div>
        <div formArrayName="addphones" *ngIf="morePhones">
          <div *ngFor="let addphone of addphones.controls; let n=index">
            <mat-form-field appearance="legacy">
              <mat-label>Phone Number</mat-label>
              <input matInput placeholder="Phone Number" [formControlName]="n">
              <mat-icon matSuffix *ngIf="addphones.length !==0" (click)="removePhone()" style="color: #ff0021; cursor: pointer;"> clear</mat-icon>
            </mat-form-field>
          </div>
        </div>
      </div>

      
    </div>
  


  <mat-dialog-actions align="end">
    <button mat-button mat-dialog-close>Cancel</button>
    <button type="submit" class="btn_submit" mat-button [mat-dialog-close]="false" [disabled]="!addClientFG.valid">Save</button>
  </mat-dialog-actions>
</form>
