<div class="main_container" fxLayout="row" fxLayoutGap="1%" fxLayoutAlign="center center">
    <div fxFlex=100%>
        <div class="banner" fxLayout="row" fxLayoutGap="1%" fxLayoutAlign="center end">
            <div fxFlex=89%>
                <p class="banner_welcome">
                    <mat-icon style="font-size: 30px; vertical-align: baseline;">people_alt</mat-icon> &nbsp;&nbsp; Clients </p>
            </div>

            <div fxFlex=10% class="banner_buttons">
                <button mat-fab (click)="openAddClient()">
                  <mat-icon>add</mat-icon>
              </button>

                <button mat-fab (click)="refresh()">
                  <mat-icon>refresh</mat-icon>
              </button>
            </div>
        </div>

        <div class="main_section">
            <div class="client_table">

                <div class="form">
                    <mat-form-field appearance="outline">
                        <mat-label>Search Client</mat-label>
                        <input matInput #filter placeholder="Search Client">
                        <mat-icon matSuffix>search</mat-icon>
                    </mat-form-field>
                </div>

                <div class="mat-elevation-z4">
                    <mat-table #table [dataSource]="dataSource" matSort class="mat-cell">

                        <ng-container matColumnDef="fname">
                            <mat-header-cell *matHeaderCellDef mat-sort-header>First Name</mat-header-cell>
                            <mat-cell *matCellDef="let row">{{row.fname}}</mat-cell>
                        </ng-container>

                        <ng-container matColumnDef="lname">
                            <mat-header-cell *matHeaderCellDef mat-sort-header>Last Name</mat-header-cell>
                            <mat-cell *matCellDef="let row"> {{row.lname}}</mat-cell>
                        </ng-container>

                        <ng-container matColumnDef="email">
                            <mat-header-cell *matHeaderCellDef mat-sort-header>Email</mat-header-cell>
                            <mat-cell *matCellDef="let row"> {{row.email}}</mat-cell>
                        </ng-container>

                        <ng-container matColumnDef="phone">
                            <mat-header-cell *matHeaderCellDef mat-sort-header>Phone</mat-header-cell>
                            <mat-cell *matCellDef="let row"> {{row.phone}}</mat-cell>
                        </ng-container>

                        <!-- ACTIONS -->
                        <ng-container matColumnDef="actions">
                            <mat-header-cell *matHeaderCellDef>Actions</mat-header-cell>

                            <mat-cell *matCellDef="let row; let i=index;">

                                <button mat-icon-button style="color: #039be6" (click)="editClient(i, row._id, row.regno, row.make, row.model, row.yom, row.value)">
                                    <mat-icon aria-label="Edit">create</mat-icon>
                                </button>

                                <button mat-icon-button style="color: limegreen" (click)="showClient(row._id)">
                                <mat-icon aria-label="Edit">remove_red_eye</mat-icon>
                            </button>

                            </mat-cell>
                        </ng-container>

                        <mat-header-row *matHeaderRowDef="displayedColumns"></mat-header-row>
                        <mat-row *matRowDef="let row; columns: displayedColumns;"></mat-row>
                    </mat-table>

                    <div class="no-results" [style.display]="dataSource.renderedData.length == 0 ? '' : 'none'">
                        No results
                    </div>

                    <mat-paginator #paginator [length]="dataSource.filteredData.length" [pageIndex]="0" [pageSize]="25" [pageSizeOptions]="[5, 10, 25, 100]">
                    </mat-paginator>
                </div>


            </div>
        </div>
    </div>
</div>