::ng-deep .mat-dialog-container {
    background-color: aliceblue;
    color: #434343;
    min-width: 490px;
}
.container {
    display: flex;
    flex-direction: column;
}

.container>* {
    width: 100%;
}

.close_btn {
    background-color: #ff6f00;
    color: white;
}

.details {
    font-size: 13px;
    font-weight: lighter;
}

table {
    font-family: 'Muli', Roboto, "Helvetica Neue", sans-serif;
    border-collapse: collapse;
    width: 100%;
}

caption {
    font-size: 22px;
    font-weight: lighter;
}

th {
    border: 1px solid #dddddd;
    text-align: left;
    padding: 8px;
    font-size: 18px;
}

td {
    border: 1px solid #dddddd;
    text-align: left;
    padding: 8px;
}

tr:nth-child(even) {
    background-color: lightskyblue;
    color: darkslateblue;
}