<h2 style="text-align: center;">
    <mat-icon style="vertical-align: sub; font-size:35px; margin-right: 25px; color: #32cd33;">add_circle</mat-icon> Add Policy Type</h2>
<mat-dialog-content class="mat-typography">
    <form [formGroup]="addTypeFG" (ngSubmit)="addType()">

                <mat-form-field appearance="legacy" style="color: red;">
                    <mat-label>Code</mat-label>
                    <input matInput placeholder="Code" formControlName="code" required>
                    <mat-error *ngFor="let validation of form_validation_messages.code">
                        <mat-error class="error-message" *ngIf="addTypeFG.get('code').hasError(validation.type) && (addTypeFG.get('code').dirty || addTypeFG.get('code').touched)">{{validation.message}}</mat-error>
                    </mat-error>

                </mat-form-field>
                &nbsp; &nbsp;

                <mat-form-field appearance="legacy">
                    <mat-label>Name</mat-label>
                    <input matInput placeholder="Name" formControlName="name" required>
                    <mat-error *ngFor="let validation of form_validation_messages.name">
                        <mat-error class="error-message" *ngIf="addTypeFG.get('name').hasError(validation.type) && (addTypeFG.get('name').dirty || addTypeFG.get('name').touched)">{{validation.message}}</mat-error>
                    </mat-error>
                </mat-form-field>



        <mat-dialog-actions align="end">
            <button mat-button mat-dialog-close>Cancel</button>
            <button type="submit" class="btn_submit" mat-button [mat-dialog-close]="false" [disabled]="!addTypeFG.valid">Save</button>
        </mat-dialog-actions>
    </form>