<h2 style="text-align: center;">
    <mat-icon style="vertical-align: sub; font-size:35px; margin-right: 25px; color: #32cd33;">local_taxi</mat-icon> Add Vehicle</h2>
<mat-dialog-content class="mat-typography">
    <form [formGroup]="addVehicleFG" (ngSubmit)="addVehicle()">
        <div fxLayout="row" fxLayoutAlign="center center" fxLayoutGap="3%" style="margin:10px 0px 10px 0px;">

            <div fxFlex=33%>
                <mat-form-field appearance="legacy" style="color: red;">
                    <mat-label>Registration Number</mat-label>
                    <input matInput placeholder="Registration Number" formControlName="regno" required>
                    <mat-error *ngFor="let validation of form_validation_messages.regno">
                        <mat-error class="error-message" *ngIf="addVehicleFG.get('regno').hasError(validation.type) && (addVehicleFG.get('regno').dirty || addVehicleFG.get('regno').touched)">{{validation.message}}</mat-error>
                    </mat-error>

                </mat-form-field>
            </div>

            <div fxFlex=33%>
                <mat-form-field appearance="legacy">
                    <mat-label>Make</mat-label>
                    <input matInput placeholder="Make" formControlName="make" required>
                    <mat-error *ngFor="let validation of form_validation_messages.make">
                        <mat-error class="error-message" *ngIf="addVehicleFG.get('make').hasError(validation.type) && (addVehicleFG.get('make').dirty || addVehicleFG.get('make').touched)">{{validation.message}}</mat-error>
                    </mat-error>
                </mat-form-field>
            </div>

            <div fxFlex=33%>
                <mat-form-field appearance="legacy">
                    <mat-label>Model</mat-label>
                    <input matInput placeholder="Model" formControlName="model" required>
                    <mat-error *ngFor="let validation of form_validation_messages.model">
                        <mat-error class="error-message" *ngIf="addVehicleFG.get('model').hasError(validation.type) && (addVehicleFG.get('model').dirty || addVehicleFG.get('model').touched)">{{validation.message}}</mat-error>
                    </mat-error>
                </mat-form-field>
            </div>

        </div>

        <div fxLayout="row" fxLayoutAlign="center center" fxLayoutGap="3%">

            <div fxFlex=33%>
                <mat-form-field appearance="legacy">
                    <mat-label>Year of Manufacture</mat-label>
                    <input matInput placeholder="Year of Manufacture" formControlName="yom" required>
                    <mat-error *ngFor="let validation of form_validation_messages.yom">
                        <mat-error class="error-message" *ngIf="addVehicleFG.get('yom').hasError(validation.type) && (addVehicleFG.get('yom').dirty || addVehicleFG.get('yom').touched)">{{validation.message}}</mat-error>
                    </mat-error>

                </mat-form-field>
            </div>


            <div fxFlex=33%>

                <mat-form-field appearance="legacy" style="color: red;">
                    <mat-label>Value</mat-label>
                    <input matInput placeholder="VAlue" formControlName="value" required>
                    <mat-error *ngFor="let validation of form_validation_messages.value">
                        <mat-error class="error-message" *ngIf="addVehicleFG.get('value').hasError(validation.type) && (addVehicleFG.get('value').dirty || addVehicleFG.get('value').touched)">{{validation.message}}</mat-error>
                    </mat-error>
                </mat-form-field>

            </div>




        </div>



        <mat-dialog-actions align="end">
            <button mat-button mat-dialog-close>Cancel</button>
            <button type="submit" class="btn_submit" mat-button [mat-dialog-close]="false" [disabled]="!addVehicleFG.valid">Save</button>
        </mat-dialog-actions>
    </form>