<div class="container">
    <div mat-dialog-content>
        <table>
            <caption>Policy Type Details</caption>
            <tr>
                <th>Code</th>
                <th>Name</th>
                <th>Policies</th>
            </tr>
            <tr>
                <td>{{data.code}} </td>
                <td>{{data.name}} </td>
                <td>{{data.policies.length}}</td>
            </tr>
        </table>
        <p style="text-align: center;"> Created On: <span class="details">{{data.created | date: 'medium'}} </span></p>
    </div>

    <div mat-dialog-actions align="center">
        <button mat-button [mat-dialog-close]="1" class="close_btn"> <mat-icon>close</mat-icon> Close</button>
    </div>
</div>