<div class="container">
    <h2 mat-dialog-title>Confirm Delete: {{data.regno}} ?</h2>
    <div mat-dialog-content>
        <p> Make: {{data.make}}</p>
        <p>MOdel: {{data.model}}</p>
        <p>Year of manufacture: {{data.yom}}</p>
        <p>Value: {{data.value}}</p>
    </div>

    <div mat-dialog-actions align="center">
        <button mat-button [mat-dialog-close]="1" (click)="deleteVehicle()" class="delete_btn"> <mat-icon>delete</mat-icon> Delete</button>
        <button mat-button (click)="onNoClick()" tabindex="-1" class="cancel_btn"> <mat-icon>cancel</mat-icon> Cancel</button>
    </div>
</div>


<!-- <mat-card>
    <mat-card-header>
        <mat-card-title> Delete: {{data.regno}}?</mat-card-title>
    </mat-card-header>
    <mat-card-content>
        <p> Make: {{data.make}}</p>
        <p>MOdel: {{data.model}}</p>
        <p>Year of manufacture: {{data.yom}}</p>
        <p>Value: {{data.value}}</p>
    </mat-card-content>
    <mat-card-actions>
        
    </mat-card-actions>
</mat-card> -->