.container {
    display: flex;
    flex-direction: column;
}

.container>* {
    width: 100%;
}


/* .sh_btn {
    background-color: orange;
    color: #434343;
} */

.close_btn {
    background-color: orange;
    color: #434343;
}