<div class="container">
    <h2 mat-dialog-title>Vehicle Details: {{data.regno}}</h2>
    <div mat-dialog-content>
        <p> Make: {{data.make}}</p>
        <p>Model: {{data.model}}</p>
        <p>Year of manufacture: {{data.yom}}</p>
        <p>Owner: {{data.owner.fname}} {{data.owner.phone}} {{data.owner.email}}</p>
        <p>Value: {{data.value}}</p>
        <p>Created At: {{data.created}}</p>
    </div>

    <div mat-dialog-actions align="center">
        <button mat-button [mat-dialog-close]="1" class="close_btn"> <mat-icon>close</mat-icon> Close</button>
    </div>
</div>