<div class="container">
    <h2 mat-dialog-title>Confirm Delete: {{data.name}} ?</h2>
    <div mat-dialog-content>
        <table>
            <tr>
                <th>Name</th>
                <th>Email</th>
                <th>Phone</th>
                <th>Location</th>
            </tr>
            <tr>
                <td>{{data.name}} </td>
                <td>{{data.email}} </td>
                <td>{{data.phone}} </td>
                <td>{{data.location}} </td>
            </tr>
        </table>
    </div>

    <div mat-dialog-actions align="center">
        <button mat-button [mat-dialog-close]="1" (click)="deleteCompany()" class="delete_btn"> <mat-icon>delete</mat-icon> Delete</button>
        <button mat-button (click)="onNoClick()" tabindex="-1" class="cancel_btn"> <mat-icon>cancel</mat-icon> Cancel</button>
    </div>
</div>