<div class="main_container" fxLayout="row" fxLayoutGap="1%" fxLayoutAlign="center center">
    <div fxFlex=100%>
        <div class="banner" fxLayout="row" fxLayoutGap="1%" fxLayoutAlign="center end">
            <div fxFlex=89%>
                <p class="banner_welcome">
                    <mat-icon style="font-size: 30px; vertical-align: baseline;">local_taxi</mat-icon> &nbsp;&nbsp; Vehicles
                </p>
            </div>

            <div fxFlex=10% class="banner_buttons">
                <button mat-fab (click)="addVehicle()">
                    <mat-icon>add</mat-icon>
                </button>

                <button mat-fab (click)="refresh()">
                    <mat-icon>refresh</mat-icon>
                </button>
            </div>
        </div>

        <div class="main_section">

            <div class="container mat-elevation-z8">

                <div class="form">

                    <mat-form-field appearance="outline">
                        <mat-label>Search Vehicle</mat-label>
                        <input matInput #filter placeholder="Search Vehicle">
                        <mat-icon matSuffix>search</mat-icon>
                    </mat-form-field>
                </div>

                <!-- <div class="loading-shade" *ngIf="isLoadingResults">
                    <mat-spinner *ngIf="isLoadingResults"></mat-spinner>
                </div> -->

                <mat-table #table [dataSource]="dataSource" matSort class="mat-cell">
                    <!-- <ng-container matColumnDef="_id">
                        <mat-header-cell *matHeaderCellDef>#</mat-header-cell>
                        <mat-cell *matCellDef="let row"> {{row._id}}</mat-cell>
                    </ng-container> -->

                    <ng-container matColumnDef="regno">
                        <mat-header-cell *matHeaderCellDef mat-sort-header>Registration Number</mat-header-cell>
                        <mat-cell *matCellDef="let row">{{row.regno}}</mat-cell>
                    </ng-container>

                    <ng-container matColumnDef="make">
                        <mat-header-cell *matHeaderCellDef mat-sort-header>Make</mat-header-cell>
                        <mat-cell *matCellDef="let row"> {{row.make}}</mat-cell>
                    </ng-container>

                    <ng-container matColumnDef="model">
                        <mat-header-cell *matHeaderCellDef mat-sort-header>Model</mat-header-cell>
                        <mat-cell *matCellDef="let row"> {{row.model}}</mat-cell>
                    </ng-container>

                    <ng-container matColumnDef="yom">
                        <mat-header-cell *matHeaderCellDef mat-sort-header>Year of Manufacture</mat-header-cell>
                        <mat-cell *matCellDef="let row"> {{row.yom}}</mat-cell>
                    </ng-container>

                    <ng-container matColumnDef="value">
                        <mat-header-cell *matHeaderCellDef mat-sort-header>Value</mat-header-cell>
                        <mat-cell *matCellDef="let row"> {{row.value}}</mat-cell>
                    </ng-container>

                    <!-- ACTIONS -->
                    <ng-container matColumnDef="actions">
                        <mat-header-cell *matHeaderCellDef>Actions</mat-header-cell>

                        <mat-cell *matCellDef="let row; let i=index;">
                            <button mat-icon-button style="color: #039be6" (click)="editVehicle(i, row._id, row.regno, row.make, row.model, row.yom, row.value)">
                                <mat-icon aria-label="Edit">create</mat-icon>
                            </button>

                            <button mat-icon-button style="color: chartreuse" (click)="showVehicle(i, row._id, row.regno, row.make, row.model, row.yom, row.value, row.createdAt, row.client)">
                                <mat-icon aria-label="Edit">remove_red_eye</mat-icon>
                            </button>

                            <button mat-icon-button style="color: orangered" (click)="deleteVehicle(i, row._id, row.regno, row.make, row.model, row.yom, row.value)">
                                <mat-icon aria-label="Delete">delete</mat-icon>
                            </button>
                        </mat-cell>
                    </ng-container>

                    <mat-header-row *matHeaderRowDef="displayedColumns"></mat-header-row>
                    <mat-row *matRowDef="let row; columns: displayedColumns;"></mat-row>
                </mat-table>


                <div class="no-results" [style.display]="dataSource.renderedData.length == 0 ? '' : 'none'">
                    No results
                </div>

                <mat-paginator #paginator [length]="dataSource.filteredData.length" [pageIndex]="0" [pageSize]="25" [pageSizeOptions]="[5, 10, 25, 100]">
                </mat-paginator>
            </div>

        </div>
    </div>

    <!-- <div fxFlex=16% class="aside">
        <mat-card class="aside_card">
            <h3>Client Info</h3>
        </mat-card>
    </div> -->
</div>