<div class="nav_container" [class.is_mobile]="mobileQuery.matches">  

  <mat-sidenav-container class="sidenav_container" [style.marginTop.px]="mobileQuery.matches ? 56 : 0">
    <mat-sidenav opened="true" position="start" #snav [mode]="mobileQuery.matches ? 'over' : 'side'" [fixedInViewport]="mobileQuery.matches" fixedTopGap="56">
      <div class="nav_top_section">
        <h2 class="app_name">CoverMe</h2>
        <div class="nav_profile">
          <strong>Super Admin</strong> <br>
          <small>superadmin@coverme.com</small>

          <div class="nav_avatar">
            <mat-icon mat-list-icon style="font-size: 40px;">account_circle</mat-icon>
          </div>

        </div>
        <mat-divider [inset]="false"></mat-divider>
      </div>
      <div class="nav_bottom_section">

        <mat-nav-list>

          <mat-list-item routerLink="/admin/dashboard" routerLinkActive="active">
            <mat-icon mat-list-icon>dashboard</mat-icon>
            <h5 mat-line > Dashboard</h5>
          </mat-list-item>
          <mat-divider [inset]="true"></mat-divider>

          <h3 mat-subheader>Clients</h3>
          <mat-list-item routerLink="/admin/clients" routerLinkActive="active">
            <mat-icon mat-list-icon>people</mat-icon>
            <h5 mat-line >Clients </h5> <mat-chip color="primary" selected>100</mat-chip>
          </mat-list-item>

          <mat-list-item>
            <mat-icon mat-list-icon>person_add</mat-icon>
            <h5 mat-line>Add Client</h5>
          </mat-list-item>
          <mat-divider [inset]="true"></mat-divider>

          <h3 mat-subheader>Policies</h3>
          <mat-list-item>
            <mat-icon mat-list-icon>book</mat-icon>
            <h5 mat-line class="pull_right">Policies </h5> <mat-chip  style="background-color: rgb(163, 45, 45)" selected>65</mat-chip>
          </mat-list-item>

          <mat-list-item>
            <mat-icon mat-list-icon>add</mat-icon>
            <h5 mat-line>Create Policy</h5>
          </mat-list-item>
          <mat-divider [inset]="true"></mat-divider>

          <h3 mat-subheader>Risk Notes</h3>
          <mat-list-item>
            <mat-icon mat-list-icon>assignment</mat-icon>
            <h5 mat-line class="pull_right">Risk Notes </h5> <mat-chip style="background-color: limegreen" selected>90</mat-chip>
          </mat-list-item>
          <mat-divider [inset]="true"></mat-divider>
          

          <h3 mat-subheader>Vehicles</h3>
          <mat-list-item routerLink="/admin/vehicles" routerLinkActive="active">
            <mat-icon mat-list-icon>local_taxi</mat-icon>
            <h5 mat-line class="pull_right">Vehicles </h5> <mat-chip selected style="background-color: #ff6f00">40</mat-chip>
          </mat-list-item>
          <mat-divider [inset]="true"></mat-divider>

          <h3 mat-subheader>Users</h3>
          <mat-list-item>
            <mat-icon mat-list-icon>people_alt</mat-icon>
            <h5 mat-line>Users</h5>
          </mat-list-item>

          <mat-list-item>
            <mat-icon mat-list-icon>add</mat-icon>
            <h5 mat-line>Add User</h5>
          </mat-list-item>
          <mat-divider [inset]="true"></mat-divider>

        </mat-nav-list>
      </div>

    </mat-sidenav>

    <mat-sidenav class="sidenav_end" opened="false" position="end" #snavend [mode]="mobileQuery.matches ? 'side' : 'over'" [fixedInViewport]="mobileQuery.matches" fixedTopGap="56">
      <div class="nav_top_section">
        <div class="nav_profile">
          <strong>Super Admin</strong> <br>
          <small>superadmin@coverme.com</small>

          <div class="nav_avatar">
            <mat-icon mat-list-icon style="font-size: 40px;">account_circle</mat-icon>
          </div>

        </div>
        <mat-divider [inset]="false"></mat-divider>
      </div>
      <div class="nav_bottom_section">


      </div>

    </mat-sidenav>
  
    <mat-sidenav-content>
        <mat-toolbar class="nav_toolbar">

            <button mat-icon-button (click)="snav.toggle()"><mat-icon>menu</mat-icon></button>
            <span class="pull_right"></span>
            
              <mat-icon class="right_icons" mat-list-icon style="font-size: 30px; margin: 0 15px">account_circle</mat-icon>
              <span [matMenuTriggerFor]="profileMenu" style="cursor: pointer;">
              <small class="mat-body ">superadmin@coverme.com</small>
              <mat-icon style="vertical-align: text-top; font-size: 28px;">arrow_drop_down</mat-icon>
              </span>
            
            

            <mat-menu #profileMenu="matMenu" xPosition="after">
              <ng-template matMenuContent>
                <button mat-menu-item> <mat-icon>account_circle</mat-icon> My Profile</button>
                <button mat-menu-item><mat-icon>exit_to_app</mat-icon> Sign out</button>
              </ng-template>
            </mat-menu>
            

            <mat-divider class="vertical_divider"></mat-divider>
            <button class="right_icons" mat-icon-button (click)="snavend.toggle()"><mat-icon>build</mat-icon></button>
            <mat-divider class="vertical_divider"></mat-divider>
            <button class="right_icons" mat-icon-button (click)="snavend.toggle()"><mat-icon>list</mat-icon></button>

        </mat-toolbar>
        
        <div class="main_content">
          <router-outlet></router-outlet>
        </div>
        <!-- <app-footer></app-footer> -->
    </mat-sidenav-content>

      
  </mat-sidenav-container>
</div>


  