.nav_container {
  display: flex;
  flex-direction: column;
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
}

.is_mobile .nav_toolbar {
  position: fixed;
  /* Make sure the toolbar will stay on top of the content as it scrolls past. */
  z-index: 2;
}
::ng-deep .mat-toolbar {
  background-color: #f5f5f5 !important;
  color: #424242;
  box-shadow: -1px 0px 10px #646464;

}

::ng-deep .mat-drawer {
  background-color: #25272e;
}

::ng-deep .mat-drawer-container {
  background-color: #f5f5f5;
  color: #434343;
}
::ng-deep .mat-drawer.mat-drawer-side {
  width: 285px;
  z-index: 2;
}

::ng-deep .mat-list-base .mat-list-item .mat-list-icon, .mat-list-base .mat-list-option .mat-list-icon {
  font-size: 20px !important;
  margin-right: 20px !important;
}

.nav_bottom_section {
  background-color: #1e212a;
}

.nav_bottom_section h5{
  font-family: 'Raleway', Roboto, "Helvetica Neue", sans-serif;;
}


h2.app_name {
  margin-left: 8px;
  color: azure;
}

.pull_right{
  flex: 1 1 auto;
}

/* right sidenav */
.sidenav_end ::ng-deep .mat-drawer-inner-container{
  width: 300px;
  background-color: #f5f5f5;
  color:#434343;
}
.sidenav_end ::ng-deep .mat-drawer.mat-drawer-end {
  /* width: 300px !important; */
}
::ng-deep .mat-drawer-backdrop.mat-drawer-shown {
  background-color: rgba(0, 0, 0, 0.4);
}

.right_icons{
  padding: auto;
}

.vertical_divider {
  border-top-width: 0;
  border-right-width: 1px;
  border-right-style: solid;
  border-color: #79caeb;
  height: 100%;
  margin: 0 15px;
}

/* ***************** */

.sidenav_container {
  /* When the sidenav is not fixed, stretch the sidenav container to fill the available space. This
     causes `<mat-sidenav-content>` to act as our scrolling element for desktop layouts. */
  flex: 1;
  
}

.is_mobile .sidenav_container {
  /* When the sidenav is fixed, don't constrain the height of the sidenav container. This allows the
     `<body>` to be our scrolling element for mobile layouts. */
  flex: 1 0 auto;
}

.nav_profile {
  margin:40px 5px 20px 5px;
  text-align: center;
}
.nav_avatar {
  /* height: 100px;
  width: 100px;
  border: 6px solid red;
  border-radius: 50%; */
  margin: 10px 0px 0px 0px;
}
.active{
  background: #039be6;
  border-top-right-radius: 20px;
  border-bottom-right-radius: 20px;
}

::ng-deep .mat-list-base .mat-subheader {
  height: 32px !important;
  /* line-height: 16px; */
}

/* .mat-list-base .mat-list-item.mat-list-item-with-avatar, .mat-list-base .mat-list-option.mat-list-item-with-avatar {
  height: 56px;
  /* width: 261px; *
  max-width: 270px; */

::ng-deep .mat-list-base .mat-list-item.mat-list-item-with-avatar, .mat-list-base .mat-list-option.mat-list-item-with-avatar {
  height: 45px !important;
  max-width:270px
}


::ng-deep .mat-list-item :hover {
  background: #434343;
  border-top-right-radius: 20px;
  border-bottom-right-radius: 20px;
}
::ng-deep .mat-chip {
  /* border-radius: 100%;
  padding: 4px; */
  text-align: center;
  width: 40px;
  height: 20px;
  padding: 9px 0px 0px 0px;
  font-size: 12px;
  font-weight: 600;
  border-radius: 20px;
}

.main_content {
  padding: 0px 10px 0px 0px;
}
