<div class="container">
    <div mat-dialog-content>
        <table>
            <caption>Insurance Company Details</caption>
            <tr>
                <th>Name</th>
                <th>Email</th>
                <th>Phone</th>
                <th>Location</th>
                <th>Address</th>
                <th>Contact Persons</th>
                <th>Policies</th>

            </tr>
            <tr>
                <td>{{data.name}} </td>
                <td>{{data.email}} </td>
                <td>{{data.phone}} </td>
                <td>{{data.location}} </td>
                <td>{{data.address}} </td>
                <td>
                    <ng-container *ngIf="data.contactpersons.length > 0; else nocontactpersons">
                        {{data.contactpersons.length}}
                    </ng-container>
                    <ng-template #nocontactpersons>
                        ---
                    </ng-template>
                    
                </td>

                <td>
                    <ng-container *ngIf="data.policies.length > 0; else nopolicies">
                        {{data.policies.length}}
                    </ng-container>
                    <ng-template #nopolicies>
                        ---
                    </ng-template>
                    
                </td>
            </tr>
        </table>
        <p style="text-align: center;"> Created On: <span class="details">{{data.created | date: 'medium'}} </span></p>
    </div>

    <div mat-dialog-actions align="center">
        <button mat-button [mat-dialog-close]="1" class="close_btn"> <mat-icon>close</mat-icon> Close</button>
    </div>
</div>