<h2 style="text-align: center;">
    <mat-icon style="vertical-align: sub; font-size:35px; margin-right: 25px; color: #32cd33;">local_taxi</mat-icon> Edit Vehicle {{data.regno}}</h2>
<mat-dialog-content class="mat-typography">
    <form [formGroup]="editVehicleFG" (ngSubmit)="editVehicle()">
        <div fxLayout="row" fxLayoutAlign="center center" fxLayoutGap="4%" style="margin:10px 0px 10px 0px;">

            <!-- <div fxFlex=33%>
                <!- <mat-form-field appearance="legacy" style="color: red;">
                    <mat-label>Registration Number</mat-label>
                    <input matInput placeholder="Registration Number" formControlName="regno" [(ngModel)]="data.regno" required readonly>
                    <mat-error *ngFor="let validation of form_validation_messages.regno">
                        <mat-error class="error-message" *ngIf="editVehicleFG.get('regno').hasError(validation.type) && (editVehicleFG.get('regno').dirty || editVehicleFG.get('regno').touched)">{{validation.message}}</mat-error>
                    </mat-error>

                </mat-form-field> ->

                <!- <mat-form-field appearance="legacy" style="color: red;">
                    <mat-label>Registration Number</mat-label>
                    <input matInput #regno class="form-control" placeholder="State" [(ngModel)]="data.regno" name="regno" required>
                    <mat-error *ngFor="let validation of form_validation_messages.regno">
                        <mat-error class="error-message" *ngIf="editVehicleFG.get('regno').hasError(validation.type) && (editVehicleFG.get('regno').dirty || editVehicleFG.get('regno').touched)">{{validation.message}}</mat-error>
                    </mat-error>
                </mat-form-field> ->

            </div> -->

            <div fxFlex=48%>
                <mat-form-field appearance="legacy">
                    <mat-label>Make</mat-label>
                    <input matInput placeholder="Make" formControlName="make" [(ngModel)]="data.make" required>
                    <mat-error *ngFor="let validation of form_validation_messages.make">
                        <mat-error class="error-message" *ngIf="editVehicleFG.get('make').hasError(validation.type) && (editVehicleFG.get('make').dirty || editVehicleFG.get('make').touched)">{{validation.message}}</mat-error>
                    </mat-error>
                </mat-form-field>
            </div>

            <div fxFlex=48%>
                <mat-form-field appearance="legacy">
                    <mat-label>Model</mat-label>
                    <input matInput placeholder="Model" formControlName="model" [(ngModel)]="data.model" required>
                    <mat-error *ngFor="let validation of form_validation_messages.model">
                        <mat-error class="error-message" *ngIf="editVehicleFG.get('model').hasError(validation.type) && (editVehicleFG.get('model').dirty || editVehicleFG.get('model').touched)">{{validation.message}}</mat-error>
                    </mat-error>
                </mat-form-field>
            </div>

        </div>

        <div fxLayout="row" fxLayoutAlign="center center" fxLayoutGap="4%">

            <div fxFlex=48%>
                <mat-form-field appearance="legacy">
                    <mat-label>Year of Manufacture</mat-label>
                    <input matInput placeholder="Year of Manufacture" formControlName="yom" [(ngModel)]="data.yom" required>
                    <mat-error *ngFor="let validation of form_validation_messages.yom">
                        <mat-error class="error-message" *ngIf="editVehicleFG.get('yom').hasError(validation.type) && (editVehicleFG.get('yom').dirty || editVehicleFG.get('yom').touched)">{{validation.message}}</mat-error>
                    </mat-error>

                </mat-form-field>
            </div>


            <div fxFlex=48%>

                <mat-form-field appearance="legacy" style="color: red;">
                    <mat-label>Value</mat-label>
                    <input matInput placeholder="Value" formControlName="value" [(ngModel)]="data.value" required>
                    <mat-error *ngFor="let validation of form_validation_messages.value">
                        <mat-error class="error-message" *ngIf="editVehicleFG.get('value').hasError(validation.type) && (editVehicleFG.get('value').dirty || editVehicleFG.get('value').touched)">{{validation.message}}</mat-error>
                    </mat-error>
                </mat-form-field>

            </div>





        </div>


        <mat-dialog-actions align="end">
            <button mat-button mat-dialog-close>Cancel</button>
            <button type="submit" class="btn_submit" mat-button [mat-dialog-close]="false" [disabled]="!editVehicleFG.valid">Save</button>
        </mat-dialog-actions>
    </form>

    <!-- 


    <div class="container">
        <h3 mat-dialog-title>Issue id: {{data.regno}}</h3>

        <form class="mat-dialog-content" (ngSubmit)="submit" #formControl="ngForm">

            <div class="form">
                <mat-form-field color="accent">
                    <input matInput #input class="form-control" placeholder="Id" [(ngModel)]="data.id" name="id" required>
                    <mat-error *ngIf="formControl.invalid">{{getErrorMessage()}}</mat-error>
                </mat-form-field>
            </div>

            <div class="form">
                <mat-form-field color="accent">
                    <textarea matInput #input class="form-control" placeholder="Title" [(ngModel)]="data.title" name="title" required></textarea>
                    <mat-error *ngIf="formControl.invalid">{{getErrorMessage()}}</mat-error>
                </mat-form-field>
            </div>

            <div class="form">
                <mat-form-field color="accent">
                    <input matInput #inputstate class="form-control" placeholder="State" [(ngModel)]="data.state" name="state" maxlength="10" required>
                    <mat-error *ngIf="formControl.invalid">{{getErrorMessage()}}</mat-error>
                    <mat-hint align="end">{{inputstate.value?.length || 0}}/10</mat-hint>
                </mat-form-field>
            </div>

            <div class="form">
                <mat-form-field color="accent">
                    <input matInput placeholder="Url" [(ngModel)]="data.url" name="url">
                </mat-form-field>
            </div>

            <div class="form">
                <mat-form-field color="accent">
                    <input matInput placeholder="Created at" [(ngModel)]="data.created_at" name="created_at">
                </mat-form-field>
            </div>

            <div class="form">
                <mat-form-field color="accent">
                    <input matInput placeholder="Updated at" [(ngModel)]="data.updated_at" name="updated_at">
                </mat-form-field>
            </div>

            <div mat-dialog-actions>
                <button mat-button [type]="submit" [disabled]="!formControl.valid" [mat-dialog-close]="1" (click)="stopEdit()">Save</button>
                <button mat-button (click)="onNoClick()" tabindex="-1">Cancel</button>
            </div>
        </form>
    </div> -->