.main_container{
    margin:0px;
}
.banner{
    background-color: #039be6;
    color: white;
    height: 150px;
    margin: 0px 0px 30px 0px;
}

.banner_welcome{
    margin:auto;
    padding:50px 0px 0px 25px;
    font-size: 31px;
}

.main_section{
    margin:0px 0px 10px 15px;
    border: 1px solid #e2e2e2;
    padding: 10px;
}

.dash_card{
    background-color: #ffffff;
    color: #424242;
    margin: 0px 0px 40px 0px;
}

::ng-deep .mat-card-header .mat-card-title {
    font-size: 18px;
    color: grey;
}
.dash_card_text{
    font-family: 'Muli', Roboto, "Helvetica Neue", sans-serif;;
    font-size: 55px;
    text-align: center;
}

.dash_card_icon{
    transform: rotate(180deg) !important;
    -webkit-transform: rotate(180deg) !important; 
    -moz-transform: rotate(180deg) !important;
    vertical-align: middle;
    font-size: 25px;
}


.aside {
    margin-top: -230px;
}

.aside_card {
    text-align: center;
    height: 222px;
    background-color: #ffffff;
    color: #888585;
    font-weight: 600;
    margin: 0px 0px 10px 0px;
    padding:auto;
}

.aside_card h2{
    color: #888585;
    font-weight: 100;
    padding: 43px 22px 0px 22px;
    font-size: 30px;
}

.aside_card_two {
    text-align: center;
    height: 282px;
    background-color: #ffffff;
    color: #888585; 
}

.dash_tabs{
    color: #424242;
    background-color: #ffffff;
    height: 400px; /* to remove*/
}

.tab_icon{
    margin-right: 15px
}


::ng-deep .mat-tab-label, .mat-tab-link {
    color: darkblue;
    font-size: 16px
}