    <div class="main_container" fxLayout="row" fxLayoutGap="1%" fxLayoutAlign="center center">
        <div fxFlex=83%>
            <div class="banner">
                <p class="banner_welcome">Welcome back, SuperAdmin! </p>
            </div>

            <div class="main_section">
                <div fxLayout="row" fxLayoutGap="4%" fxLayoutAlign="center center">
                    <div fxFlex=24%>
                        <mat-card class="dash_card">
                            <mat-card-header>
                              <mat-card-title>Clients</mat-card-title>
                            </mat-card-header>
                            <mat-card-content>
                                <p class="dash_card_text" style="color: #99f376;">105</p>
                            </mat-card-content>
                            <mat-divider style="border-color: #e6e0e0;"></mat-divider>
                            <mat-card-actions>
                              <p class="mat-body" style="color: #039be6; text-align: center;">More <mat-icon class="dash_card_icon">keyboard_backspace
                            </mat-icon></p>
                            </mat-card-actions>
                          </mat-card>

                    </div>

                    <div fxFlex=24%>
                        <mat-card class="dash_card">
                            <mat-card-header>
                              <mat-card-title>Policies</mat-card-title>
                            </mat-card-header>
                            <mat-card-content>
                                <p class="dash_card_text" style="color: #e64040;">65</p>
                            </mat-card-content>
                            <mat-divider style="border-color: #e6e0e0;"></mat-divider>
                            <mat-card-actions>
                              <p class="mat-body" style="color: #039be6; text-align: center;">More <mat-icon class="dash_card_icon">keyboard_backspace
                            </mat-icon></p>
                            </mat-card-actions>
                          </mat-card>
                    </div>

                    <div fxFlex=24%>
                        <mat-card class="dash_card">
                            <mat-card-header>
                              <mat-card-title>Vehicles</mat-card-title>
                            </mat-card-header>
                            <mat-card-content>
                                <p class="dash_card_text" style="color: #6461f7;">59</p>
                            </mat-card-content>
                            <mat-divider style="border-color: #e6e0e0;"></mat-divider>
                            <mat-card-actions>
                              <p class="mat-body" style="color: #039be6; text-align: center;">More <mat-icon class="dash_card_icon">keyboard_backspace
                            </mat-icon></p>
                            </mat-card-actions>
                          </mat-card>
                    </div>

                    <div fxFlex=24%>
                        <mat-card class="dash_card">
                            <mat-card-header>
                              <mat-card-title>Risk Notes</mat-card-title>
                            </mat-card-header>
                            <mat-card-content>
                                <p class="dash_card_text" style="color: #dfd25d;">17</p>
                            </mat-card-content>
                            <mat-divider style="border-color: #e6e0e0;"></mat-divider>
                            <mat-card-actions>
                              <p class="mat-body" style="color: #039be6; text-align: center;">More <mat-icon class="dash_card_icon">keyboard_backspace
                            </mat-icon></p>
                            </mat-card-actions>
                          </mat-card>
                    </div>

                    

                </div>

                <div class="dash_tabs">
                    <mat-tab-group mat-stretch-tabs>
                        <mat-tab>
                          <ng-template mat-tab-label>
                            <mat-icon class="tab_icon">people</mat-icon>
                            Clients
                          </ng-template>
                          Content 1
                        </mat-tab>
                      
                        <mat-tab>
                          <ng-template mat-tab-label>
                            <mat-icon class="tab_icon">book</mat-icon>
                            Policies
                          </ng-template>
                      
                          Content 3
                        </mat-tab>

                        <mat-tab>
                            <ng-template mat-tab-label>
                              <mat-icon class="tab_icon">local_taxi</mat-icon>
                              Vehicles
                            </ng-template>
                            Content 2
                          </mat-tab>

                        <mat-tab>
                            <ng-template mat-tab-label>
                              <mat-icon class="tab_icon">assignment</mat-icon>
                              Risk Notes
                            </ng-template>
                        
                            Content 3
                          </mat-tab>
                      </mat-tab-group>
                      
                </div>
            </div>
        </div>

        <div fxFlex=16% class="aside">
            <mat-card class="aside_card">
                <!-- <h3>Today`s Date</h3> -->
                <h2>{{realTime | date: 'medium'}}</h2>
            </mat-card>

            <mat-card class="aside_card_two">
              <h2>cool info</h2>
            </mat-card>
        </div>
    </div>
