<h2 style="text-align: center;">
    <mat-icon style="vertical-align: sub; font-size:35px; margin-right: 25px; color: #32cd33;">create</mat-icon> Edit Policy Benefit</h2>
<mat-dialog-content class="mat-typography">
    <form [formGroup]="editCompanyFG" (ngSubmit)="editCompany()">
        <div fxLayout="row" fxLayoutAlign="center center" fxLayoutGap="0%" style="margin:10px 0px 10px 0px;">

            <div fxFlex=100%>

                <mat-form-field appearance="legacy">
                    <mat-label>Insurance Company Name</mat-label>
                    <input matInput placeholder="Name" formControlName="name" [(ngModel)]="data.name" required>
                    <mat-error *ngFor="let validation of form_validation_messages.name">
                        <mat-error class="error-message" *ngIf="editCompanyFG.get('name').hasError(validation.type) && (editCompanyFG.get('name').dirty || editCompanyFG.get('name').touched)">{{validation.message}}</mat-error>
                    </mat-error>
                </mat-form-field>

            </div>

        </div>

        <div fxLayout="row" fxLayoutAlign="center center" fxLayoutGap="5%" style="margin:10px 0px 10px 0px;">

            <div fxFlex=45%>

                <mat-form-field appearance="legacy">
                    <mat-label>Email</mat-label>
                    <input matInput placeholder="email" formControlName="email" [(ngModel)]="data.email"  required>
                    <mat-error *ngFor="let validation of form_validation_messages.email">
                        <mat-error class="error-message" *ngIf="editCompanyFG.get('email').hasError(validation.type) && (editCompanyFG.get('email').dirty || editCompanyFG.get('email').touched)">{{validation.message}}</mat-error>
                    </mat-error>
                </mat-form-field>

            </div>

            <div fxFlex=45%>

                <mat-form-field appearance="legacy">
                    <mat-label>Phone</mat-label>
                    <input matInput placeholder="Phone" formControlName="phone" [(ngModel)]="data.phone"  required>
                    <mat-error *ngFor="let validation of form_validation_messages.phone">
                        <mat-error class="error-message" *ngIf="editCompanyFG.get('phone').hasError(validation.type) && (editCompanyFG.get('phone').dirty || editCompanyFG.get('phone').touched)">{{validation.message}}</mat-error>
                    </mat-error>
                </mat-form-field>

            </div>

        </div>

        <div fxLayout="row" fxLayoutAlign="center center" fxLayoutGap="5%" style="margin:10px 0px 10px 0px;">

            <div fxFlex=45%>

                <mat-form-field appearance="legacy">
                    <mat-label>Location</mat-label>
                    <input matInput placeholder="location" formControlName="location" [(ngModel)]="data.location" >
                    <mat-error *ngFor="let validation of form_validation_messages.location">
                        <mat-error class="error-message" *ngIf="editCompanyFG.get('location').hasError(validation.type) && (editCompanyFG.get('location').dirty || editCompanyFG.get('location').touched)">{{validation.message}}</mat-error>
                    </mat-error>
                </mat-form-field>

            </div>

            <div fxFlex=45%>

                <mat-form-field appearance="legacy">
                    <mat-label>Address</mat-label>
                    <input matInput placeholder="address" formControlName="address" [(ngModel)]="data.address" >
                    <mat-error *ngFor="let validation of form_validation_messages.address">
                        <mat-error class="error-message" *ngIf="editCompanyFG.get('address').hasError(validation.type) && (editCompanyFG.get('address').dirty || editCompanyFG.get('address').touched)">{{validation.message}}</mat-error>
                    </mat-error>
                </mat-form-field>

            </div>

        </div>

        <mat-dialog-actions align="end">
            <button mat-button mat-dialog-close>Cancel</button>
            <button type="submit" class="btn_submit" mat-button [mat-dialog-close]="false" [disabled]="!editCompanyFG.valid">Update</button>
        </mat-dialog-actions>
    </form>
