/* Structure */

.container {
    display: flex;
    flex-direction: column;
}


/* Toolbar */

.spacer {
    flex: 1 1 auto;
}


/* Filter */

.form {
    min-height: 56px;
    max-height: 56px;
    display: flex;
    align-items: center;
    padding: 8px 24px 0;
    font-size: 20px;
    justify-content: space-between;
    border-bottom: 1px solid transparent;
}

.mat-form-field {
    font-size: 14px;
    flex-grow: 1;
    margin-top: 8px;
}


/* Mat table */

.no-results {
    display: flex;
    justify-content: center;
    padding: 14px;
    font-size: 14px;
    font-style: italic;
}

.main_container {
    margin: 0px;
}

.banner {
    background-color: #039be6;
    color: white;
    height: 125px;
    margin: 0px 0px 30px 0px;
}

.banner_welcome {
    margin: 0px 0px 40px -33px;
    font-size: 31px;
}

.banner_buttons {
    margin: 0px 0px -20px 0px;
    font-size: 31px;
}

.banner_buttons button {
    color: #ffffff;
    background-color: limegreen;
    margin: 0px 10px 0px 0px;
}

.pull_right {
    flex: 1 100%
}

.main_section {
    margin: 0px 0px 10px 15px;
    border: 1px solid #e2e2e2;
    padding: 10px;
}

.aside {
    margin-top: 0px;
}

.aside_card {
    text-align: center;
    height: 522px;
    background-color: #ffffff;
    color: #888585;
    font-weight: 600;
    margin: 0px 0px 10px 0px;
    padding: auto;
}

.aside_card h2 {
    color: #888585;
    font-weight: 400;
}

.client_table {
    color: #424242;
    background-color: aliceblue;
}

.loading-shade {
    position: absolute;
    top: 0;
    left: 0;
    bottom: 56px;
    right: 0;
    background: rgba(0, 0, 0, 0.15);
    z-index: 1;
    display: flex;
    align-items: center;
    justify-content: center;
}

table {
    width: 100%;
}

.mat-form-field {
    font-size: 14px;
    width: 100%;
}

td,
th {
    width: 25%;
}

 ::ng-deep .mat-form-field-appearance-outline .mat-form-field-outline {
    color: mediumblue;
}

 ::ng-deep .mat-form-field {
    color: red !important;
}

::ng-deep .mat-form-field-label {
    color: red;
    font: icon !important;
}

::ng-deep .mat-table {
    background: #ffffff;
}

::ng-deep .mat-header-cell {
    color: slateblue !important;
    font-weight: bolder;
    font-size: 19px;
    font-family: 'Raleway', Roboto, "Helvetica Neue", sans-serif;
    ;
}

::ng-deep .mat-cell,
.mat-footer-cell {
    color: #434343;
    font-size: 16px;
    font-weight: normal;
    font-family: 'Raleway', Roboto, "Helvetica Neue", sans-serif;
    ;
}

::ng-deep mat-footer-row,
mat-header-row,
mat-row,
td.mat-cell,
td.mat-footer-cell,
th.mat-header-cell {
    border-bottom-color: rgb(238, 237, 237);
}

::ng-deep .mat-paginator-outer-container {
    background-color: midnightblue;
    color: wheat;
}

.tab_icon {
    margin-right: 15px
}

::ng-deep .mat-tab-label,
.mat-tab-link {
    color: darkblue;
    font-size: 16px
}