<h2 style="text-align: center;">
    <mat-icon style="vertical-align: sub; font-size:35px; margin-right: 25px; color: #32cd33;">add_circle</mat-icon> Add Company</h2>
<mat-dialog-content class="mat-typography">
    <form [formGroup]="addCompanyFG" (ngSubmit)="addCompany()">

        <div fxLayout="row" fxLayoutAlign="center center" fxLayoutGap="0%" style="margin:10px 0px 10px 0px;">

            <div fxFlex=100%>

                <mat-form-field appearance="legacy">
                    <mat-label>Insurance Company Name</mat-label>
                    <input matInput placeholder="Name" formControlName="name" required>
                    <mat-error *ngFor="let validation of form_validation_messages.name">
                        <mat-error class="error-message" *ngIf="addCompanyFG.get('name').hasError(validation.type) && (addCompanyFG.get('name').dirty || addCompanyFG.get('name').touched)">{{validation.message}}</mat-error>
                    </mat-error>
                </mat-form-field>

            </div>

        </div>

        <div fxLayout="row" fxLayoutAlign="center center" fxLayoutGap="5%" style="margin:10px 0px 10px 0px;">

            <div fxFlex=45%>

                <mat-form-field appearance="legacy">
                    <mat-label>Email</mat-label>
                    <input matInput placeholder="email" formControlName="email" required>
                    <mat-error *ngFor="let validation of form_validation_messages.email">
                        <mat-error class="error-message" *ngIf="addCompanyFG.get('email').hasError(validation.type) && (addCompanyFG.get('email').dirty || addCompanyFG.get('email').touched)">{{validation.message}}</mat-error>
                    </mat-error>
                </mat-form-field>

            </div>

            <div fxFlex=45%>

                <mat-form-field appearance="legacy">
                    <mat-label>Phone</mat-label>
                    <input matInput placeholder="Phone" formControlName="phone" required>
                    <mat-error *ngFor="let validation of form_validation_messages.phone">
                        <mat-error class="error-message" *ngIf="addCompanyFG.get('phone').hasError(validation.type) && (addCompanyFG.get('phone').dirty || addCompanyFG.get('phone').touched)">{{validation.message}}</mat-error>
                    </mat-error>
                </mat-form-field>

            </div>

        </div>

        <div fxLayout="row" fxLayoutAlign="center center" fxLayoutGap="5%" style="margin:10px 0px 10px 0px;">

            <div fxFlex=45%>

                <mat-form-field appearance="legacy">
                    <mat-label>Location</mat-label>
                    <input matInput placeholder="location" formControlName="location">
                    <mat-error *ngFor="let validation of form_validation_messages.location">
                        <mat-error class="error-message" *ngIf="addCompanyFG.get('location').hasError(validation.type) && (addCompanyFG.get('location').dirty || addCompanyFG.get('location').touched)">{{validation.message}}</mat-error>
                    </mat-error>
                </mat-form-field>

            </div>

            <div fxFlex=45%>

                <mat-form-field appearance="legacy">
                    <mat-label>Address</mat-label>
                    <input matInput placeholder="address" formControlName="address">
                    <mat-error *ngFor="let validation of form_validation_messages.address">
                        <mat-error class="error-message" *ngIf="addCompanyFG.get('address').hasError(validation.type) && (addCompanyFG.get('address').dirty || addCompanyFG.get('address').touched)">{{validation.message}}</mat-error>
                    </mat-error>
                </mat-form-field>

            </div>

        </div>



        <mat-dialog-actions align="center">
            <button mat-button mat-dialog-close>Cancel</button>
            <button type="submit" class="btn_submit" mat-button [mat-dialog-close]="false" [disabled]="!addCompanyFG.valid">Save</button>
        </mat-dialog-actions>
    </form>