<h2 style="text-align: center;">
    <mat-icon style="vertical-align: sub; font-size:35px; margin-right: 25px; color: #32cd33;">create</mat-icon> Edit Policy Type</h2>
<mat-dialog-content class="mat-typography">
    <form [formGroup]="editTypeFG" (ngSubmit)="editType()">
                <!-- <mat-form-field appearance="legacy">
                    <mat-label>Code</mat-label>
                    <input matInput placeholder="Code" formControlName="code" [(ngModel)]="data.code" [disabled]="true" required>
                    <mat-error *ngFor="let validation of form_validation_messages.code">
                        <mat-error class="error-message" *ngIf="editTypeFG.get('code').hasError(validation.type) && (editTypeFG.get('code').dirty || editTypeFG.get('code').touched)">{{validation.message}}</mat-error>
                    </mat-error>
                </mat-form-field> -->
                &nbsp; &nbsp;

                <mat-form-field appearance="legacy">
                    <mat-label>Name</mat-label>
                    <input matInput placeholder="Name" formControlName="name" [(ngModel)]="data.name" required>
                    <mat-error *ngFor="let validation of form_validation_messages.name">
                        <mat-error class="error-message" *ngIf="editTypeFG.get('name').hasError(validation.type) && (editTypeFG.get('name').dirty || editTypeFG.get('name').touched)">{{validation.message}}</mat-error>
                    </mat-error>
                </mat-form-field>

        <mat-dialog-actions align="end">
            <button mat-button mat-dialog-close>Cancel</button>
            <button type="submit" class="btn_submit" mat-button [mat-dialog-close]="false" [disabled]="!editTypeFG.valid">Save</button>
        </mat-dialog-actions>
    </form>
