<h2 style="text-align: center;">
    <mat-icon style="vertical-align: sub; font-size:35px; margin-right: 25px; color: #32cd33;">add_circle</mat-icon> Add Benefit</h2>
<mat-dialog-content class="mat-typography">
    <form [formGroup]="addBenefitFG" (ngSubmit)="addBenefit()">

                <mat-form-field appearance="legacy">
                    <mat-label>Name</mat-label>
                    <input matInput placeholder="Name" formControlName="name" required>
                    <mat-error *ngFor="let validation of form_validation_messages.name">
                        <mat-error class="error-message" *ngIf="addBenefitFG.get('name').hasError(validation.type) && (addBenefitFG.get('name').dirty || addBenefitFG.get('name').touched)">{{validation.message}}</mat-error>
                    </mat-error>
                </mat-form-field>



        <mat-dialog-actions align="end">
            <button mat-button mat-dialog-close>Cancel</button>
            <button type="submit" class="btn_submit" mat-button [mat-dialog-close]="false" [disabled]="!addBenefitFG.valid">Save</button>
        </mat-dialog-actions>
    </form>