::ng-deep .mat-dialog-container {
    background-color: aliceblue;
    color: #434343;
    min-width: 500px;
}

::ng-deep .mat-dialog-content {
   height: 130px;
}

::ng-deep .mat-form-field {
    color: black !important;
    width: 100%;
}

::ng-deep .mat-form-field-appearance-legacy .mat-hint {
    color: dimgrey;
}

::ng-deep .mat-form-field-appearance-legacy .mat-form-field-label {
    color: forestgreen;
}

::ng-deep .mat-form-field-appearance-legacy.mat-form-field-can-float .mat-input-server:focus+.mat-form-field-label-wrapper .mat-form-field-label,
.mat-form-field-appearance-legacy.mat-form-field-can-float.mat-form-field-should-float .mat-form-field-label {
    color: lightseagreen !important;
}

::ng-deep .mat-form-field-appearance-legacy .mat-form-field-underline {
    background-color: midnightblue;
}