<div class="main_container" fxLayout="row" fxLayoutGap="1%" fxLayoutAlign="center center">
    <div fxFlex=100%>
        <div class="banner" fxLayout="row" fxLayoutGap="1%" fxLayoutAlign="center end">
            <div fxFlex=89%>
                <p class="banner_welcome">
                    <mat-icon style="font-size: 30px; vertical-align: baseline; margin-left: 58px;">view_list</mat-icon> &nbsp;&nbsp; Policy Types
                </p>
            </div>

            <div fxFlex=10% class="banner_buttons">
                <button mat-fab (click)="addType()">
                    <mat-icon>add</mat-icon>
                </button>

                <button mat-fab (click)="refresh()">
                    <mat-icon>refresh</mat-icon>
                </button>
            </div>
        </div>

        <div class="main_section">

            <div class="container mat-elevation-z8">

                <div class="form">

                    <mat-form-field appearance="outline">
                        <mat-label>Search Policy type</mat-label>
                        <input matInput #filter placeholder="Search">
                        <mat-icon matSuffix>search</mat-icon>
                    </mat-form-field>
                </div>

                <!-- <div class="loading-shade" *ngIf="isLoadingResults">
                    <mat-spinner *ngIf="isLoadingResults"></mat-spinner>
                </div> -->

                <mat-table #table [dataSource]="dataSource" matSort class="mat-cell">
                    <!-- <ng-container matColumnDef="_id">
                        <mat-header-cell *matHeaderCellDef>#</mat-header-cell>
                        <mat-cell *matCellDef="let row"> {{row._id}}</mat-cell>
                    </ng-container> -->

                    <ng-container matColumnDef="code">
                        <mat-header-cell *matHeaderCellDef mat-sort-header>Code</mat-header-cell>
                        <mat-cell *matCellDef="let row">{{row.code}}</mat-cell>
                    </ng-container>

                    <ng-container matColumnDef="policies">
                        <mat-header-cell *matHeaderCellDef mat-sort-header>Policies</mat-header-cell>
                        <mat-cell *matCellDef="let row"> {{row.policies.length}}</mat-cell>
                    </ng-container>


                    <ng-container matColumnDef="name">
                        <mat-header-cell *matHeaderCellDef mat-sort-header>Name</mat-header-cell>
                        <mat-cell *matCellDef="let row"> {{row.name}}</mat-cell>
                    </ng-container>

                    <!-- ACTIONS -->
                    <ng-container matColumnDef="actions">
                        <mat-header-cell *matHeaderCellDef>Actions</mat-header-cell>

                        <mat-cell *matCellDef="let row; let i=index;">
                            <button mat-icon-button style="color: #039be6" (click)="editType(i, row._id, row.code, row.name)">
                                <mat-icon aria-label="Edit">create</mat-icon>
                            </button>

                            <button mat-icon-button style="color: chartreuse" (click)="showType(i, row._id, row.code, row.name, row.createdAt, row.policies)">
                                <mat-icon aria-label="Edit">remove_red_eye</mat-icon>
                            </button>

                            <button mat-icon-button style="color: orangered" (click)="deleteType(i, row._id, row.code, row.name)">
                                <mat-icon aria-label="Delete">delete</mat-icon>
                            </button>
                        </mat-cell>
                    </ng-container>

                    <mat-header-row *matHeaderRowDef="displayedColumns"></mat-header-row>
                    <mat-row *matRowDef="let row; columns: displayedColumns;"></mat-row>
                </mat-table>


                <div class="no-results" [style.display]="dataSource.renderedData.length == 0 ? '' : 'none'">
                    No policy types
                </div>

                <mat-paginator #paginator [length]="dataSource.filteredData.length" [pageIndex]="0" [pageSize]="25" [pageSizeOptions]="[5, 10, 25, 100]">
                </mat-paginator>
            </div>

        </div>
    </div>

</div>