.container {
    display: flex;
    flex-direction: column;
}

.container>* {
    width: 100%;
}

.delete_btn {
    background-color: orange;
    color: #434343;
}

.cancel_btn {
    background-color: chartreuse;
    color: #434343;
}