/* You can add global styles to this file, and also import other style files */

html,
body {
    height: 100%;
}

body {
    margin: 0;
    font-family: 'Raleway', "Helvetica Neue", sans-serif;
}


/*Theme colors */


/* darkblue, midnightblue, darkslateblue, mediumblue */


/* submit button */

.btn_submit {
    background-color: #32cd33;
    color: white;
}

.success_snack {
    background-color: #32cd33;
    color: white;
    font-family: Muli 'Raleway', "Helvetica Neue", sans-serif;
    font-weight: bolder;
}

.error_snack {
    background-color: #ff0021;
    color: white;
    font-family: Muli 'Raleway', "Helvetica Neue", sans-serif;
    font-weight: bolder;
}