<ng-container *ngIf="client; else elseTemplate">
    <div class="banner" fxLayout="row" fxLayoutGap="1%" fxLayoutAlign="center end">
        <div fxFlex=89%>
            <p class="banner_welcome">
                <mat-icon style="font-size: 30px; vertical-align: baseline;">user_circle</mat-icon> &nbsp;&nbsp; Client: {{client.fname}} {{client.lname}}</p>
        </div>

    </div>

    <div fxLayout="row" fxLayoutAlign="center center" fxLayoutGap="2%" class="client_details_container">

        <div fxFlex="10%">
            <div class="action_card">

                <button mat-button style="color: white; background-color: #039be6;  "><mat-icon>edit</mat-icon> Edit</button>

                <button mat-button style="color: white; background-color: tomato;  "><mat-icon>report</mat-icon> Deactivate</button>

                <button mat-button style="color: white; background-color: #ff0021;  "><mat-icon>delete</mat-icon> Delete</button>
            </div>
        </div>
        <div fxFlex="88%">
            <mat-card class="details_card">
                <div>
                    <h2> Client Details</h2>
                </div>
                <mat-card-content>
                    <div fxLayout="row" fxLayoutAlign="center center" fxLayoutGap="3%" fxLayoutWrap>
                        <div fxFlex="33%">
                            <div class="field">
                                <span><strong>First Name:</strong>{{client.fname}}</span>
                            </div>
                            <div class="field">
                                <span><strong>Email:</strong> {{client.email}}</span>
                            </div>
                            <div class="field">
                                <span><strong>Additional Emails:</strong> {{client.addemails}}</span>
                            </div>
                        </div>
                        <div fxFlex="33%">
                            <div class="field">
                                <span><strong>Last Name:</strong> {{client.lname}}</span>
                            </div>

                            <div class="field">
                                <span><strong>Phone:</strong> {{client.phone}}</span>
                            </div>
                            <div class="field">
                                <span><strong>Additional Phones:</strong> {{client.addphones}}</span>
                            </div>
                        </div>
                        <div fxFlex="33%">
                            <div class="field">
                                <span><strong>Surname:</strong> {{client.surname}}</span>
                            </div>
                            <div class="field">
                                <span><strong>Last Name:</strong> {{client.idno}}</span>
                            </div>

                            <div class="field">
                                <span><strong>Created:</strong> {{client.createdAt}}</span>
                            </div>
                        </div>
                    </div>
                </mat-card-content>
            </mat-card>

            <mat-card class="details_card">
                <div>
                    <h2>
                        <mat-icon style="font-size: 30px; vertical-align: baseline;">local_taxi</mat-icon> Vehicles: {{clientvehicles.length}}</h2>
                </div>
                <mat-card-content>
                    <!-- <div class="client_vehicle_card" *ngFor="let clientvehicle of clientvehicles; let i=index">
                        <span>{{i + 1}}</span> <span> <strong>Registration Number:</strong> {{clientvehicle.regno}}</span> <span><strong>Make:</strong> {{clientvehicle.make}}</span> <span><strong>Model:</strong> {{clientvehicle.model}}</span> <span><strong>YOM:</strong> {{clientvehicle.yom}}</span>                        <span><strong>Status:</strong >{{clientvehicle.deleted}}</span>
                    </div> -->



                    <div fxLayout="row" fxLayoutAlign="center center" fxLayoutGap="1%" fxLayoutWrap *ngFor="let clientvehicle of clientvehicles; let i=index">
                        <div fxFlex="25%">
                            <div class="field">
                                <strong>{{i + 1}}</strong> &nbsp;
                                <span><strong>Registration Number:</strong> {{clientvehicle.regno}}
                                </span>
                            </div>
                        </div>
                        <div fxFlex="25%">
                            <div class="field">
                                <span><strong>Make:</strong> {{clientvehicle.make}}</span>
                            </div>

                        </div>
                        <div fxFlex="25%">
                            <div class="field">
                                <span><strong>Model:</strong> {{clientvehicle.model}}</span>
                            </div>
                        </div>

                        <div fxFlex="24%">
                            <div class="field">
                                <span><strong>YOM:</strong> {{clientvehicle.yom}}</span>
                            </div>
                        </div>
                    </div>

                    <div class="container mat-elevation-z8">

                        <div class="form">

                            <mat-form-field appearance="outline">
                                <mat-label>Search Client Vehicle</mat-label>
                                <input matInput #filter placeholder="Search Vehicle">
                                <mat-icon matSuffix>search</mat-icon>
                            </mat-form-field>
                        </div>



                        <mat-table #table [dataSource]="dataSource" matSort class="mat-cell">

                            <ng-container matColumnDef="regno">
                                <mat-header-cell *matHeaderCellDef mat-sort-header>Registration Number</mat-header-cell>
                                <mat-cell *matCellDef="let row">{{row.regno}}</mat-cell>
                            </ng-container>

                            <ng-container matColumnDef="make">
                                <mat-header-cell *matHeaderCellDef mat-sort-header>Make</mat-header-cell>
                                <mat-cell *matCellDef="let row"> {{row.make}}</mat-cell>
                            </ng-container>

                            <ng-container matColumnDef="model">
                                <mat-header-cell *matHeaderCellDef mat-sort-header>Model</mat-header-cell>
                                <mat-cell *matCellDef="let row"> {{row.model}}</mat-cell>
                            </ng-container>

                            <ng-container matColumnDef="yom">
                                <mat-header-cell *matHeaderCellDef mat-sort-header>Year of Manufacture</mat-header-cell>
                                <mat-cell *matCellDef="let row"> {{row.yom}}</mat-cell>
                            </ng-container>

                            <ng-container matColumnDef="value">
                                <mat-header-cell *matHeaderCellDef mat-sort-header>Value</mat-header-cell>
                                <mat-cell *matCellDef="let row"> {{row.value}}</mat-cell>
                            </ng-container>

                            <!-- ACTIONS -->
                            <ng-container matColumnDef="actions">
                                <mat-header-cell *matHeaderCellDef>Actions</mat-header-cell>

                                <mat-cell *matCellDef="let row; let i=index;">
                                    <button mat-icon-button style="color: #039be6" (click)="editVehicle(i, row._id, row.regno, row.make, row.model, row.yom, row.value)">
                                        <mat-icon aria-label="Edit">create</mat-icon>
                                    </button>

                                    <button mat-icon-button style="color: chartreuse" (click)="showVehicle(i, row._id, row.regno, row.make, row.model, row.yom, row.value, row.createdAt, row.client)">
                                        <mat-icon aria-label="Edit">remove_red_eye</mat-icon>
                                    </button>

                                    <button mat-icon-button style="color: orangered" (click)="deleteVehicle(i, row._id, row.regno, row.make, row.model, row.yom, row.value)">
                                        <mat-icon aria-label="Delete">delete</mat-icon>
                                    </button>
                                </mat-cell>
                            </ng-container>

                            <mat-header-row *matHeaderRowDef="displayedColumns"></mat-header-row>
                            <mat-row *matRowDef="let row; columns: displayedColumns;"></mat-row>
                        </mat-table>


                        <div class="no-results" [style.display]="dataSource.renderedData.length == 0 ? '' : 'none'">
                            No results
                        </div>

                        <mat-paginator #paginator [length]="dataSource.filteredData.length" [pageIndex]="0" [pageSize]="25" [pageSizeOptions]="[5, 10, 25, 100]">
                        </mat-paginator>
                    </div>

                </mat-card-content>
            </mat-card>

            <mat-card class="details_card">
                <div>
                    <h2> Policies (3)</h2>
                </div>
                <mat-card-content>

                </mat-card-content>
            </mat-card>
        </div>

    </div>
</ng-container>
<ng-template #elseTemplate>
    <div class="banner" fxLayout="row" fxLayoutGap="1%" fxLayoutAlign="center end">
        <div fxFlex=89%>
            <p class="banner_welcome">
                <mat-icon style="font-size: 30px; vertical-align: baseline;">user_dissatisfied</mat-icon> &nbsp;&nbsp; Sorry requested client was not found</p>
        </div>

    </div>
</ng-template>