.banner {
    background-color: #039be6;
    color: white;
    height: 100px;
    margin: 0px 0px 30px 0px;
}

.banner_welcome {
    margin: 0px 0px 40px -33px;
    font-size: 31px;
}

.client_details_container {
    margin: 20px 0px 0px 10px;
}

.action_card {
    background-color: transparent;
}

.action_card button {
    border-radius: 10px;
    margin-bottom: 10px;
    width: 100%;
    font-weight: bold;
}

.action_card button :hover {
    background-color: transparent;
    color: #424242;
}

.details_card {
    background-color: #ffffff;
    color: #424242;
    margin: 0px 0px 20px 0px;
}

.details_card h2 {
    color: #039be6;
    /* text-decoration: underline; */
    /* font-weight: bolder; */
    text-align: center;
    margin: 0px 0px 15px 0px;
}

.field {
    margin-bottom: 20px;
}

.field span {
    font-size: 18px;
}